{% extends 'base.html' %}
{% load static %}

{% block title %}Sign out | SurveySolver{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/account/account-states.css' %}">{% endblock %}

{% block content %}
<section aria-labelledby="sign-out-heading">
    <h1 id="sign-out-heading">Sign out</h1>
    <p>Are you sure you want to end your session?</p>
    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        <button type="submit">Sign out</button>
    </form>
</section>
{% endblock %}
