{% extends 'base.html' %}
{% load static %}

{% block title %}Reset password | SurveySolver{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'css/account/account-states.css' %}">{% endblock %}

{% block content %}
<section aria-labelledby="reset-heading">
    <h1 id="reset-heading">Reset your password</h1>
    <p>Enter your verified email address and we will send reset instructions.</p>
    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send reset link</button>
    </form>
</section>
{% endblock %}
